<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/styles/form.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro:300,700" rel="stylesheet">

</head>

<body>
    <section class="container-fluid main-title">
        <h1>Welcome to Spark Cleaning!</h1>
    </section>
    <section class="container-fluid main-area">
        <div class="row no-gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 left-col">
                <div class="container form-area p-3">
                    <form>
                        <div class="form-group">
                            <label for="item-name">Item:</label>
                            <input type="text" class="form-control" id="item-name" aria-describedby="itemName"
                                placeholder="Enter item name">
                        </div>
                        <div class="form-group">
                            <label for="category-select">Category:</label>
                            <select id="category-select" class="custom-select">
                                <option selected>Open this select menu</option>
                                <option value="clothes">Clothes</option>
                                <option value="books">Books</option>
                                <option value="papers">Papers</option>
                                <option value="papers">Miscellaneous</option>
                                <option value="papers">Sentimental</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="location-select">Location:</label>
                            <select id="location-select" class="custom-select">
                                <option selected>Open this select menu</option>
                                <option value="clothes">Bedroom</option>
                                <option value="books">Bathroom</option>
                                <option value="papers">Kitchen</option>
                                <option value="papers">Living Room</option>
                                <option value="papers">Office</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description-text">Description:</label>
                            <textarea class="form-control" id="description-text" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 right-col">
                <div class="cats dropdown-area">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownCategoryButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownCategoryButton">
                            <a class="dropdown-item" href="#">Clothes</a>
                            <a class="dropdown-item" href="#">Books</a>
                            <a class="dropdown-item" href="#">Papers</a>
                            <a class="dropdown-item" href="#">Miscellaneous</a>
                            <a class="dropdown-item" href="#">Sentimental</a>
                        </div>
                    </div>
                </div>
                <div class="locs dropdown-area">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLocationButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Location
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownLocationButton">
                            <a class="dropdown-item" href="#">Bedroom</a>
                            <a class="dropdown-item" href="#">Bathroom</a>
                            <a class="dropdown-item" href="#"> Kitchen</a>
                            <a class="dropdown-item" href="#">Living Room</a>
                            <a class="dropdown-item" href="#">Office</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid your-items">
        <h2>Your Items</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Category</th>
                    <th scope="col">Location</th>
                    <th scope="col">Joy</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    <td>Bla</td>
                    <td>Blabla</td>
                    <td>Blablabla</td>
                    <td>Blablablabla</td>
                </tr>
            </tbody>
        </table>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>

</html>