
$beige: #F9ECE0;
$black: #433E3F;
$blue: #9CAFB7;
$playfair: 'Playfair Display', serif;
$source: 'Source Sans Pro', sans-serif;
$black-border: 2px solid $black;
$relevant: 3rem;

body {
    color: $black;
    font: {
        family: $source;
    }
}

h1, h2, h3, h4, h5, h6 {
    font: {
        family: $playfair;
    }

}

.left-col {
    border: {
        top: $black-border;
        bottom: $black-border;
        right: $black-border;
    }
}

.right-col {
    border: {
        top: $black-border;
        bottom: $black-border;
    }
    background: $beige url("../../public/images/white-flower.png") center;
    background-size: cover;
}

.form-area {
    background: #F9ECE0;
    border: 20px solid white;
    button {
        background-color: $black;
    }
}

.dropdown-area {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: $black;
    }
}